extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
block main
 .container.my-3
  .row 
   .col-12
     +box-head("Danh sách sản phẩm")
  .row 
   .col-4.mb-3 
    .product-item
     .inner-image
       img(src="https://www.hdwallpaper.nu/wp-content/uploads/2018/02/porsche_911_carrera-16.jpg",alt="porcher 911")   
    
     .inner-content
       h3.inner-title Porcher 911
       .inner-price-new 1800$
       .inner-price-old 800$
       .inner-discount  200$

  